- json_hash = {"widgetchart" => {"a" => '5"'}, "foo" => "</script>" }
- reg_str = "q:\"'</script>"
- xml_str = "<xml x=\"a\">this<script></script></xml>"

<!-- NOTE: str.html_safe == raw(str) -->

#H1 :javascript
<!-- :javascript -->
- #security var h = #{json_hash};
- #security var rh = #{raw(json_hash)};
- #syntax   var jh = #{j(json_hash)};
- #syntax   var rjh = #{raw(j(json_hash))};
- #security var rs  = "#{raw(reg_str)}"
- #security var rx  = "#{raw(xml_str)}";

:javascript
  // lets avoid, since it cares about holding tag
  var j    = #{json_hash.to_json};
  // suggesting:
  var rj   = #{raw(json_hash.to_json)};
  //var jj    = #{j(json_hash.to_json)};
  //var rjj  = #{raw j(json_hash.to_json)};

  // var rs   = "#{reg_str}";
  // security error
  // var js   = "#{j(reg_str) }";
  var rjs = "#{raw(j(reg_str))}";

  //var rx   = "#{xml_str}";
  // security error
  //var jx   = "#{j(xml_str)}";
  var rjx = "#{raw(j(xml_str))}";

#H1 %script
- # syntax: var rj    = #{json_hash.to_json};
- # syntax: var jj    = #{j(json_hash.to_json)};
- # var rjj  = #{raw(j(json_hash.to_json))};

- #var s   = "#{reg_str}";
- #var js   = "#{j(reg_str) }"
- #security var rs  = "#{raw(reg_str)}"

- #syntax var x   = "#{xml_str}";
- #syntax var jx   = "#{j(xml_str)}";
- #security var rx  = "#{raw(xml_str)}";
%script
  var rj   = #{raw(json_hash.to_json)};

  var rjs = "#{raw(j(reg_str))}"

  var rjx = "#{raw(j(xml_str))}";

